.course-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

}

.courses-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: auto;
    padding-top: 10px;
    overflow-y: auto;
}
  
.courses-list-title {
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
}